:root {
  --color-primary: #4663a0; /* Azul */
  --color-background: #222222; /* Gris claro */
}
body {
  font-family: 'Gothic A1', sans-serif;
  background-color: var(--color-background);
  margin: 0;
  padding: 0;
  color: #f4f4f4;
}

h1{
  border-radius: 10PX;
  margin-top: -5PX;
  font-size: 25px;
  text-align: center;
  padding: 10px;  
  background-color: var(--color-primary);
  border: 5px solid var(--color-primary);
  font-weight: 400;
}

button{
  font-size: 1.5em;
  background-color: var(--color-primary);
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 20px;
  margin: 20px;
  transition: all 0.3s ease-in-out;
  width: 30%;
  align-self: center;
  font-family: 'Gothic A1', sans-serif;
}

button:hover {
  background-color: #95a6cb;
}

.container {
  margin: 50px 100px;
  background-color: var(--color-background);
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border: 3px solid var(--color-primary);               
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stockContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  width: 20%;
  margin: 15px 30px
}

.stockFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stocksInputContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 40px;
}

label {
  margin-bottom: 8px;
}


table {
  border-collapse: collapse;
  width: 100%;
}
table thead tr th {
  padding: 8px;
  border-bottom: 2px solid var(--color-primary);
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  background-color: #4663a0;
}

table tbody tr td {
  padding: 8px;
  text-align: center;
  font-size: 20px;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid rgb(91, 91, 91);
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.3s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 80px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--color-primary);
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-color: #4663a0;
}

/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}