:root {
  --color-primary: #4670B0; /* Azul */
  --color-background: #EBEBEB; /* Gris claro */
}
body {
  font-family: 'Jura', sans-serif;
  background-color: var(--color-background);
  margin: 0;
  padding: 0;
}

h1{
  border-radius: 10PX;
  margin-top: -5PX;
  font-size: 2.5em;
  text-align: center;
  padding: 10px;  
  font-weight: 600;
  color: var(--color-primary)
}

.submitButton{
  font-size: 1.5em;
  background-color: var(--color-background);
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  border-radius: 6px;
  cursor: pointer;
  padding: 20px;
  margin: 20px;
  transition: all 0.2s ease-in-out;
  width: 30%;
  align-self: center;
  font-family: 'Jura', sans-serif;
}

.submitButton:hover {
  background-color: var(--color-primary);
  color: var(--color-background);
}

.container {
  margin: 50px 100px;
  background-color: var(--color-background);
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border: 3px solid var(--color-primary);               
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container__1 {
  margin: 50px 100px;
  background-color: var(--color-background);
  border-radius: 10px;           
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stockContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  margin: 15px 30px;

}

.stockFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stocksInputContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 40px;
  flex-wrap: wrap;
}

label {
  margin-bottom: 8px;
  color: var(--color-primary); 
}

table {
  border-collapse: collapse;
  width: 100%;
  color: var(--color-background);
}
table thead tr th {
  padding: 8px;
  border-bottom: 2px solid var(--color-primary);
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  background-color: var(--color-primary);
}

table tbody tr td {
  padding: 15px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: var(--color-primary);
  border-bottom: 1px solid var(--color-primary) ;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
  flex: 0 0 20%;
  min-width: 200px;
}

.form__field {
  margin-top: 10px ;
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid rgb(91, 91, 91);
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.3s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 80px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1.2em;
  margin-bottom: 10px;
  font-weight: 600;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1.2em;
    color: var(--color-primary);
    font-weight:600;   
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-color: var(--color-primary);
}

/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
  color: var(--color-primary);
}